@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

header {
  position: relative;
  min-height: 90vh;
  display: flex;
  align-items: center;
  color: #FFF;
  z-index: 1;
}
header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../img/images/feliz-mae-e-filhos-no-dia-de-natal.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  z-index: -2;
  border-radius: 0 0 2.5rem 2.5rem;
}
header::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.75));
  z-index: -1;
  border-radius: 0 0 2.5rem 2.5rem;
}
header #box_header {
  max-width: 800px;
}
header #box_header img {
  width: 15vw;
  min-width: 15rem;
  animation: ping-top 3s infinite ease-in-out;
}
@keyframes ping-top {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
header #box_header h1 {
  font-weight: 400;
  font-size: 50px;
}
header #box_header p {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  header #box_header h1 {
    font-size: 80px;
  }
  header #box_header h3 {
    font-size: 30px;
  }
}

#about {
  position: relative;
  background-color: #0B95B1;
  color: #FFF;
  padding: 10rem 0 5rem;
  margin-top: -5rem;
  z-index: 0;
  overflow: hidden;
}
#about h1 {
  margin-bottom: 2rem;
}
#about ul {
  margin-bottom: 0;
}
#about img {
  border-radius: 1rem;
}
#about #buttons_about > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}
#about #buttons_about .btn {
  flex: 1;
}
#about #buttons_about .btn:nth-child(odd) {
  background-color: #002E6D;
  border-color: #002E6D;
}
#about #buttons_about .btn:nth-child(even) {
  background-color: #1b4e95;
  border-color: #1b4e95;
}
@media (min-width: 768px) {
  #about #buttons_about > div {
    flex-direction: row;
  }
}
#about .tab-content {
  display: none;
  margin-top: 5rem;
}
#about .tab-content.active {
  display: block;
}
#about::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../img/elements/Elemento-01.png"), url("../img/elements/Elemento-02.png"), url("../img/elements/Elemento-03.png"), url("../img/elements/Elemento-04.png"), url("../img/elements/Elemento-05.png"), url("../img/elements/Estrela-01.png"), url("../img/elements/Estrela-02.png"), url("../img/elements/Estrela-03.png"), url("../img/elements/Logo-01.png"), url("../img/elements/Logo-02.png"), url("../img/elements/Logo-03.png");
  background-repeat: no-repeat;
  background-position: 0% 10%, 10% 50%, 20% 80%, 40% 20%, 55% 60%, 65% 30%, 70% 75%, 80% 40%, 85% 20%, 90% 60%, 95% 30%;
  background-size: 150px auto;
  opacity: 0.1;
  z-index: -1;
}

#faq {
  padding: 5rem 0 10rem;
}
#faq h1, #faq p {
  text-align: center;
}

#dashboard {
  padding: 5rem 0 10rem;
}

footer {
  background-color: #002E6D;
  padding: 5rem 0;
  color: #FFF;
  border-radius: 2.5rem 2.5rem 0 0;
  margin-top: -5rem;
  position: relative;
  z-index: 1;
}
footer img {
  margin: 0 auto;
  display: block;
  width: 15vw;
  min-width: 15rem;
  animation: ping-top 3s infinite ease-in-out;
}
footer p {
  text-align: center;
  margin-bottom: 3rem;
}
footer small {
  display: block;
  text-align: center;
}
footer small a {
  color: #FFF;
}/*# sourceMappingURL=style.css.map */